.userCardNavigator {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    font-size: 17px;
    height: 50px;
    background-color: 0, 0, 0, 0;
    z-index: 10;
}



.userCardNavigator-right {
    display: flex;
    margin-left: auto;
}

.userCardNavigator-left-img>img {
    height: 24px;
    margin: 13px;
}

.userCardNavigator-right>img {
    height: 36px;
    margin: 7px;
}