.navigator {
    display: flex;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    font-size: 17px;
    height: 50px;
    border-bottom: 1px solid #ebe7e7;
    background-color: white;
}

.navigator-left {
    display: flex;
    line-height: 50px;
}

.navigator-left>div {
    min-width: 25px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

img {
    height: 50px;
}

button {
    border: #ebe7e7;
    background-color: #fff;
}

.navigator-right {
    display: flex;
    font-weight: 700;
    color: #7ba77f;
    margin-left: auto;
    line-height: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}